name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}

          user: jhordanleandro
          template: classic
          base: header, activity, repositories

          # Linguagens dos repositórios
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_analysis_timeout: 15
          plugin_languages_other: yes

          # Repositórios analisados
          plugin_repositories: yes
          plugin_repositories_featured: true
