name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"   # Atualiza diariamente
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}

          user: jhordanleandro
          template: classic
          base: header, activity, community, repositories

          plugin_languages: yes
          plugin_languages_limit: 10
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage

          plugin_repositories: yes
          plugin_repositories_featured: yes
